.MyTown {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  
  .image img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .temperature {
    display: flex;
    align-items: center;
    margin-left: 150px;
  }
  
  .icon {
    max-width: 50px;
    margin-right: 20px;
  }
  
  .temperature p {
    color: #444;
    line-height: 1.6;
  }
  .temperature button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 30px;
  }
  
  .temperature button:hover {
    background-color: #2980b9;
  }